# Java Home (required for building)
JAVA_HOME=/Users/thekietdang/Library/Java/JavaVirtualMachines/temurin-21.0.8/Contents/Home

# PostgreSQL
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
